.home {
  text-align: center;
  .time {
    font-family: "Anton", sans-serif;
    margin: 2rem;
  }

  .home-button {
    margin: 1rem 3rem;
    .home-button-img {
      margin-bottom: 2rem;
    }
  }
}
